@using KKBank.Web.ViewModels.ViewModels.Request
@model IEnumerable<AwaitingApprovalReqViewModel>

@{ 
    this.ViewData["Title"] = "New Requests";
}

<h3>New Requests</h3>
<hr />

@if (Model.Count() > 0)
{
    <div class="tableFixHead">
        <table>
            <thead>
                <tr>
                    <th>Request Id</th>
                    <th>User Name</th>
                    <th>Request Type Name</th>
                    <th>Currency</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var request in Model)
                {
                    <tr>
                        <td>@request.Id</td>
                        <td>@request.Username</td>
                        <td>@request.RequestTypeName</td>
                        <td>@request.Currency</td>
                        <td>
                            <div class="d-flex justify-content-end">
                                <form method="post" asp-controller="Request" asp-action="Details" asp-route-id="@request.Id" class="ml-2">
                                    <input type="hidden" name="id" value="@request.Id" />
                                    <input type="submit" value="Review" class="btn btn-outline-primary" style="min-width: 100px" />
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <p class="text-danger">No new requests found!</p>
}